@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.register-hero {
  background-image: url('../assets/sand.jpeg');
  background-size: cover;
  background-position: center;
}

.hero-section{
  background-image: url('../assets/hero.jpeg');
  background-size: cover;
  background-position: center;
}
